<form class="example-form">
  <mat-form-field class="example-full-width">
    <input
      type="text"
      placeholder="Assignee"
      aria-label="Assignee"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete" i18n="@@countryName">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option.name">
          {{ option.name }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
