.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.invalid-input .mat-mdc-form-field-outline {
  color: red;
  border-color: red;
}

.invalid-input .mat-mdc-form-field-outline-thick {
  border-color: red;
}
