<form class="example-form">
  <mat-form-field
    class="example-full-width"
    [ngClass]="{ 'invalid-input': myControl.invalid && myControl.touched }">
    <input
      type="text"
      placeholder="Assignee"
      aria-label="Assignee"
      matInput
      [formControl]="myControl"
      [matAutocomplete]="auto"

    />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected()">
      @for (option of filterString(); track option) {
        <mat-option [value]="option.name | translate">
          {{ option.name | translate }}
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>
