.relative-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 24px;
  color: #f2f8fb;
  font-size: 14px;
  border-bottom: 2px solid #2d3548;
}

.relative-card-period {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.relative-card-inputs-wrapper {
  margin-bottom: 24px;
  display: flex;
  gap: 16px;
}

.relative-card-input {
  height: 30px;
  width: 200px;
  background: #101928;
  border: 2px solid #2d3548;
  border-radius: 4px;
  padding: 0 14px;
  color: #ddf3fe;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.relative-card-input:focus {
  outline: none;
}

.relative-card-select {
  width: 300px;
  background: white;
}

.relative-card-period-numbers {
  display: flex;
  gap: 16px;
}

.relative-card-button {
  border-radius: 100%;
  background: #222b3c;
  border: #283144 2px solid;
  color: #ddf3fe;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-shadow: none;
}

.select-input {
  width: 320px;
  height: 34px;
  background: #101928;
  border: 2px solid #2d3548;
  border-radius: 4px;
  padding: 2px 14px;
  color: #ddf3fe;
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.relative-card-button.active {
  background-color: #1976d2;
  color: white;
}
