<form class="input-calendar-wrapper">
    <input
            (click)="toggleTabs()"
            placeholder="Date"
            [value]="displayText"
            readonly
    />
</form>


@if (showTabs()) {
    <mat-tab-group class="tabs" mat-stretch-tabs="false" mat-align-tabs="start" fitInkBarToContent #tabsWrapper>
        <mat-tab label="Relative">
            <app-relative (valueChange)="onRelativeChange($event)"></app-relative>
        </mat-tab>
        <mat-tab label="Calendar">
            <app-calendar
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    (dateChange)="onDateChange($event)"
                    disablePeriod="month"
            ></app-calendar>
        </mat-tab>

    </mat-tab-group>

    <div class="advanced-options">
        Show advanced options
    </div>

    <div class="actions">
        <button class="cancel-button" (click)="apply(false)">Cancel</button>
        <button matButton="filled" (click)="apply(true)">Done</button>
    </div>
}
