<form class="input-calendar-wrapper">
  <input
    (click)="toggleTabs()"
    placeholder="Date"
    [value]="combinedDateTime | date:'yyyy-MM-dd HH:mm'"
    readonly
  />
</form>

@if (showTabs()) {
  <mat-tab-group class="tabs" mat-stretch-tabs="false" mat-align-tabs="start" fitInkBarToContent #tabsWrapper>
    <mat-tab label="Relative">
      <app-relative (valueChange)="onRelativeChange($event)"></app-relative>
    </mat-tab>
    <mat-tab label="Calendar">
      <app-calendar disablePeriod="month" (dateChange)="onDateChange($event)"></app-calendar>
    </mat-tab>
  </mat-tab-group>

  <div class="advanced-options">
    Show advanced options
  </div>

  <div class="actions">
    <button class="cancel-button" (click)="apply()">Cancel</button>
    <button matButton="filled" (click)="apply()">Done</button>
  </div>
}
