

.input-calendar-wrapper input {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  background: inherit;
  border-radius: 4px;
  border: #2c3343 2px solid;
  color: #e9ecf3;
  font-family: Roboto, "Helvetica Neue", sans-serif;;
}

.input-calendar-wrapper input:focus {
  outline: none;
}

.tabs {
  width: 616px;
  background: #212c3e;
  border-radius: 4px;
}

::ng-deep .mat-mdc-tab-body {
  background: #161e31;
}

::ng-deep .mat-mdc-tab-label-container {
  border-bottom-color: #2d384a !important;
}

::ng-deep .mdc-tab__text-label {
  color: #e8edef !important;
}

::ng-deep .mdc-tab-indicator--active .mdc-tab__text-label {
  color: #788fcf !important;
}

::ng-deep .mat-mdc-tab .mdc-tab-indicator__content--underline {
  border-color: #788fcf !important;
}

.advanced-options {
  padding: 0 16px 40px 40px;
  color: #485dc8;
  font-size: 14px;
  font-weight: 500;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #161e31;
  width: 560px;
}

.actions {
  width: 584px;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  background: #212c3e;
  border-top: #293345 2px solid;
}

.cancel-button {
  background: none;
  border: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #6e8aec;
  font-weight: 500;
}

::ng-deep .mat-mdc-unelevated-button, .mat-mdc-unelevated-button .mdc-button__ripple {
  border-radius: 4px !important;
  color: #0e215a !important;
  background: #788fcf !important;
}



