.calendar-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.calendar-cards-wrapper {
  display: flex;
  flex-direction: row;
}

.calendar-card {
  width: 300px;
}

.calendar-card-input:focus {
  outline: none;
}

::ng-deep mat-calendar-header {
  display: none !important;
}

::ng-deep .mat-calendar-table-header {
  color: #e9ecf3 !important;
}
