<div class="calendar-card-wrapper">
  <div class="calendar-header">dcsdfcdsfds</div>
  <div class="calendar-cards-wrapper">
    <div class="calendar-card">
      <mat-calendar
        #first_calendar
        [(selected)]="selectedDateRange"
        (selectedChange)="rangeChanged($event)"
      ></mat-calendar>
    </div>
    <div class="calendar-card">
      <mat-calendar
        [(selected)]="selectedDateRange"
        (selectedChange)="rangeChanged($event)"
      ></mat-calendar>
    </div>
  </div>

</div>

<div class="example-full-width">
  <mat-form-field >
    <mat-label>From</mat-label>
    <input
      matInput
      [value]="selectedDateRange?.start | date:'yyyy-MM-dd'"
      readonly
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>To</mat-label>
    <input
      matInput
      [value]="selectedDateRange?.end | date:'yyyy-MM-dd'"
      readonly
    />
  </mat-form-field>
</div>
